<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>hobbies</title>
    </head>
    <body>
    <form method="post" action="/submit" >
        <label for="music">Your hobbies</label>
        <br>

        <label for="music">Listen to music</label>
        <input type="checkbox" name="hobbies" id="music"value="music">
        <br>

        <label for="reading">Reading Books</label>
        <input type="checkbox" name="hobbies"id="reading"value="reading">
        <br>

        <label for="travelling">Travelling</label>
        <input type="checkbox" name="hobbies"id="travelling"value="traveling">
        <br>

        <button type="submit">Submit</button>


    </form>

    </body>
</html>